:root {
  --orange: #f39c12;
  --white: #fff;
  --heading: #333;
  --paragraphe: #999;
  --couleur__code: rgb(4, 109, 255);
  --icon: #eee;
  --background: rgb(1, 1, 15);
  --icon__span: #555;
  --header__link: #92acf5;
  --content_span: #1e003d;
  --fa__bars: rgba(0, 0, 0, 0.3);
  --heading__background: rgba(114, 131, 230, 0.05);
  --header__shadow: rgba(0, 0, 0, 0.1);
  --blue: blue;
  --red: red;
  --green: green;
}

body {
  font-family: Comic Sans MS !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 2s;
}

.message_error_area {
  margin-left: 15%;
  /* background-color: green; */
  /* color: white; */
  display: flex;
  width: 100%;
  /* padding: 10px 10px; */
  justify-content: center;
}

.message_error {
  background-color: var(--green);
  color: var(--blue);
  padding: 10px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.home {
  background: linear-gradient(
    155.37deg,
    rgb(255, 213, 24) 60% 80%,
    rgb(255, 50, 193) 80% 100%,
    rgb(55, 255, 245) 20%,
    rgb(0, 253, 0) 20%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 2rem 9%;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: var(--heading);
  color: var(--white);
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: var(--orange);
}

header {
  position: fixed;
  top: 0;
  left: 2rem;
  right: 0;
  background: radial-gradient(yellow, green);
  padding: 0.8rem 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.5rem 1rem var(--header__shadow);
  /*animation: shake 2s infinite;*/
  margin-bottom: 5em;
  z-index: 1;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

img {
  filter: grayscale(100%);
}

.logo {
  color: #e8b8d3;
  font-weight: bolder;
  font-size: 2em;
}

header .logo div {
  margin: 0.8rem;
  width: fit-content;
}

.logo span {
  color: var(--orange);
}

header .logo div:hover {
  color: var(--orange);
}

header .logo div:nth-of-type(even){
  animation: rotate 2s infinite;
}

header .logo div:nth-of-type(even):hover{
  animation-play-state: paused;
}

header .logo div:nth-of-type(odd){
  animation: rotate_invers 2s infinite;
}

header .logo div:nth-of-type(odd):hover{
  animation-play-state: paused;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate_invers {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

header .navbar a {
  font-size: 1.5rem;
  padding: 0 1.5rem;
  color: var(--header__link);
}

header .navbar a:hover {
  cursor: auto;
  color: var(--orange);
  border-bottom: #1e003d solid 10px;
}

.icon {
  color: orange;
  font-size: 15px;
}
header .icons a:hover {
  color: var(--orange);
}

header #toggler {
  display: none;
}

header .fa-bars {
  font-size: 3rem;
  color: var(--orange);
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid var(--fa__bars);
  display: none;
}

#mouse {
  position: absolute;
  z-index: 2000;
  transform: scale(2);
  animation: jump 2s infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

main {
  color: var(--white);
}

main img {
  height: 200px;
  width: 250px;
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sidebar {
  color: #fff;
  padding: 2em;
  margin-top: 5em;
}

.sidebar ul li {
  list-style-type: square;
  padding: 1em;
}

.sidebar ul li a {
  font-weight: bold;
  color: #ec5f0d;
}

.sidebar ul li::marker {
  color: green;
}

.content {
  color: yellow;
  margin-top: 25em;
}

.flash {
  animation: flash 1s infinite;
}

.navbar .text-green {
  color: green;
  font-size: 3em;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.footer {
  background: linear-gradient(
    to right,
    var(--orange),
    var(--couleur__code),
    var(--heading__background),
    var(--content_span)
  );
  height: 350px;
  flex-direction: column;
}
.footer h2 {
  color: yellow;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
.footer .social-icon {
  display: flex;
}
.social-icon .social-item:nth-child(1) img {
  filter: hue-rotate(20deg);
}

.social-icon .social-item:nth-child(2) img {
  filter: hue-rotate(200deg);
}

.social-icon .social-item:nth-child(3) img {
  filter: hue-rotate(120deg);
}

.footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
.footer .social-item:hover img {
  filter: grayscale(0);
}
.footer p {
  color: rgb(135, 231, 9);
  font-size: 1.3rem;
}
.brand h1 {
  font-size: 32px;
  text-transform: uppercase;
}

.first-word {
  color: var(--blue);
}

.second-word {
  color: var(--red);
}

.social-icon img {
  animation: move 0.3s infinite linear;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500%);
  }
}
.social-item {
  display: inline-block;
  margin: 0 20px;
  animation: social-item-anim 1s linear infinite;
  animation-delay: calc(var(--order) * 200ms);
}

@keyframes social-item-anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.social-item img {
  height: 60px;
  width: auto;
}

.social-item:nth-child(1) {
  --order: 1;
  animation-duration: 0.8s;
}

.social-item:nth-child(2) {
  --order: 2;
  animation-duration: 1s;
}

.social-item:nth-child(3) {
  --order: 3;
  animation-duration: 1.2s;
}

.social-item:nth-child(4) {
  --order: 4;
  animation-duration: 1.4s; 
}
.paragraphe{
  display: flex;
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.paragraphe p {
  color: var(--white);
  font-size: 38px;
}
.paragraphe p span{
  color: var(--paragraphe);
  font-size: 8px;
}
.paragraphe img {
  width: 50px;
  border-radius: 50%;
}

#board {
  border-radius: 50px;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background-color: white;
  z-index: 200000;
}

.circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

#board h2 {
  color: #ec5f0d;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5em;
}

.boat {
  position: absolute;
  top: 15em;
  bottom: -50px;
  left: 50%;
  width: 100px;
  height: 50px;
  background-color: #1abc9c;
  animation: boatmove 3s linear infinite;
  transform-origin: bottom right;
}

@keyframes boatmove {
  0% {
    transform: rotate(0deg) translateX(-100%);
  }
  50% {
    transform: rotate(20deg) translateX(50%);
  }
  100% {
    transform: rotate(0deg) translateX(100%);
  }
}

.boat button {
  background-color: red;
  border-radius: 50%;
  font-size: 0.8em;
  color: white;
  padding: 3em;
  transition: transform .2s;
	transform-origin: center;
  width: 100%;
  font-weight: bold;
}

.boat button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.bg-blue {
  background-color: #1e003da3;
  padding: 1em;
}

.navbar .nav-left a {
  color: white;
  margin-right: 1em;
}

.navbar .nav-left a:hover {
  cursor: progress;
  opacity: 0.1;
}